[defaults]
inventory           = inventory/hosts.yml
remote_user         = nlab-2              # username SSH
private_key_file    = ~/.ssh/ansible_lab
host_key_checking   = False               # skip fingerprint prompt
stdout_callback     = yaml                # output lebih readable
callbacks_enabled   = timer, profile_tasks

[privilege_escalation]
become              = True
become_method       = sudo
become_user         = root