[defaults]
inventory           = inventory/hosts.yml
private_key_file    = ~/.ssh/ansible_lab
host_key_checking   = False
stdout_callback     = yaml
callbacks_enabled   = timer, profile_tasks
vault_password_file = ~/.vault_pass

[privilege_escalation]
become              = True
become_method       = sudo
become_user         = root